@charset "ISO-8859-1";
.logo {
	width:100px;
	height: 100px; 
	
}

.boton {
	background-color: #03214B;
	width: 300px;
	padding: 7px;
	color: white;
	font-weight: 600; 
}
.boton:hover {
	
	background-color: #074297;	
	color: white;	 
}